* {
    box-sizing: border-box;
}

h4 {
    margin: 1px;
    padding: 0px;
}

.wrapper {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "img_cell equal_cell outcome_cell"
        "plus1_cell equal_cell outcome_cell"
        "mask_cell equal_cell outcome_cell"
        "plus2_cell equal_cell outcome_cell"
        "rect_cell equal_cell outcome_cell";
    grid-template-rows: 200px 50px 200px 50px 200px;
    grid-template-columns: repeat(3, 200px);
    grid-gap: 2px;
}

.wrapper>div {
    align-self: center;
    justify-self: center;
}

.plus_cell,
.equal_cell {
    font-weight: 900;
    font-size: 2rem;
}

.img_cell {
    grid-area: img_cell;
}

.plus1 {
    grid-area: plus1_cell;
}

.mask_cell {
    grid-area: mask_cell;
}

.plus2 {
    grid-area: plus2_cell;
}

.rect_cell {
    grid-area: rect_cell;
}

.equal_cell {
    grid-area: equal_cell;
}

.outcome_cell {
    grid-area: outcome_cell;
}

.image_mask {
    mask-mode: luminance;
    mask-repeat: no-repeat;
    mask-position: center;
}